body{
    font-family: 'Open Sans', sans-serif;
    background-color: green;
    color: aqua;
}

.corpo{
    margin: 0 auto;
    whidt: 960px;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #DC3D24;
    margin-top: 3px;
    margin-bottom: 5px;
}
h2{font-size: 22px;}
h3{font-size: 20px;}

a{color: #E3AE57;}

header, footer, .redes-sociais, .tecnologias{
    text-align:center;
    }
.mail{
    width: 250px;
    height: 20px;
    display: inline-block;
    padding-right: 21px;
    background-image: url(email.png);
    background-repeat: no-repeat;
    text-align: left;
}

.telefone{
    width: 250px;
    height: 20px;
    display: inline-block;
    padding-right: 21px;
    background-image: url(telefone.png);
    background-repeat: no-repeat;
    text-align: left;
}

.redes-sociais li{ display: inline-block;}

.redes-sociais li a{ display: inline-block;}
}


<!-- 
.ico-linkedin{
    whidt: 40px;
    height: 40px;
    background-image: url('linkedin.png');
    background-repeat: no-repeat;
}

.ico-facebook{
    whidt:40px;
    height: 40px;
    background-image: url('facebook.png');
    background-repeat: no-repeat;
        
}
    -->



.ico{ width: 40px;  
    height: 40px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 7000px;
    display: inline-block;}

.linkedin{background-image: url('linkedin.png');}
.github{background-image: url('github.png');}
.facebook{background-image: url('facebook.png');}
.devcard{background-image: url('devcard.png');}

.projetos h3{text-align: center}
.projetos ul{
    widht: 700px;
    margin: 0 auto;
}
.projetos li{
    margin-bottom: 7px;
    margin-top: 7px;
}
    
    