body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: aqua;
}

.corpo{
    margin: 0 auto;
    whidt: 960px;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #DC3D24;
    margin-top: 3px;
    margin-bottom: 5px;
}
h2{font-size: 22px;}
h3{font-size: 20px;}

a{color: #E3AE57;}

header, footer, .redes-sociais, .tecnologias{
    text-align:center;
    }
.mail{
    width: 250px;
    height: 20px;
    display: inline-block;
    padding-right: 21px;
    background-image: url(email.png);
    background-repeat: no-repeat;
    text-align: left;
}

.mail{
    width: 250px;
    height: 20px;
    display: inline-block;
    padding-right: 21px;
    background-image: url(telefone.png);
    background-repeat: no-repeat;
    text-align: left;
}
.redes-socias li{
    whidt: 40px;
    height: 40px;
    display: inline-block;
    text-indent: 7000px;
}

.redes-socias li a{display: block;
    whidt: 40px;
    height: 40px;
}

.ico-linkedin{
    whidt: 40px;
    height: 40px;
    background-image: url('linkedin.png');
    background-repeat: no-repeat;
}

.ico-facebook{
    whidt:40px;
    height: 40px;
    background-image: url('facebook.png');
    background-repeat: no-repeat;
        
}
    