body{
    font-family: 'Open Sans', sans-serif;
    background-color: black
}

.corpo{
    margin: 0 auto;
    whidt: 960px;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #DC3D24;
    margin-top: 3px;
    margin-bottom: 5px;
}
h2{
    font-size: 22px;
}

h3{
font-size: 20px;
}